<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled 1</title>
<style type="text/css">
.style1 {
	text-align: center;
}
</style>
</head>

<body>

<p class="style1">&nbsp;</p>
<h1 class="main-title single-title entry-title" style="box-sizing: border-box; margin: 5px 0px 8px; font-size: 40px; font-weight: 400 !important; line-height: 60px; color: rgb(0, 0, 0) !important; font-family: &quot;Open Sans Extrabold&quot;, sans-serif; letter-spacing: -1.54px; text-transform: none; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; orphans: 2; text-align: start; text-indent: 0px; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;">
Samsung Galaxy S10 review: Finding the middle ground is hard</h1>
<p class="style1">&nbsp;</p>
<p class="style1">
<span style="font-family: &quot;Proxima Nova&quot;, sans-serif; font-size: 55px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 800; letter-spacing: normal; orphans: 2; text-align: center; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;">
<img alt="" src="https://cdn57.androidauthority.net/wp-content/uploads/2019/03/Samsung-Galaxy-S10-side-profile.jpg" width="574" height="330" /></span></p>
<table style="width: 100%">
	<tr>
		<td>&nbsp;</td>
		<td style="width: 80%">&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
</table>
<p style="box-sizing: border-box; margin: 0px 0px 21px; line-height: 28px; letter-spacing: 0em; font-family: &quot;Proximanova Regular&quot;, sans-serif; font-size: 18px; color: rgb(66, 66, 66); font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;">
<em style="box-sizing: border-box;">
<strong style="box-sizing: border-box; font-weight: 700;">Update February 17:</strong><span>&nbsp;</span>Samsung 
recently announced the<span>&nbsp;</span><a style="box-sizing: border-box; color: rgb(0, 212, 159); text-decoration: none; background-color: transparent; transition: color 0.3s ease-out 0s; font-family: &quot;Proximanova Regular&quot;, sans-serif;" href="https://www.androidauthority.com/samsung-galaxy-s20-value-money-1083147/">Galaxy 
S20 series</a>, including the S20, S20 Plus, and S20 Ultra. These phones are a 
huge step up from the S10 family in terms of specs and features.<span>&nbsp;</span><a style="box-sizing: border-box; color: rgb(0, 212, 159); text-decoration: none; background-color: transparent; transition: color 0.3s ease-out 0s; font-family: &quot;Proximanova Regular&quot;, sans-serif;" href="https://www.androidauthority.com/samsung-galaxy-s20-review-1080674/">Some 
of the biggest improvements</a><span>&nbsp;</span>include 120Hz displays, the latest 
processor, huge allotments of RAM, big batteries, flexible cameras, and 5G.</em></p>
<p style="box-sizing: border-box; margin: 0px 0px 21px; line-height: 28px; letter-spacing: 0em; font-family: &quot;Proximanova Regular&quot;, sans-serif; font-size: 18px; color: rgb(66, 66, 66); font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;">
<em style="box-sizing: border-box;">More pertinent to this review, Samsung<span>&nbsp;</span><a style="box-sizing: border-box; color: rgb(0, 212, 159); text-decoration: none; background-color: transparent; transition: color 0.3s ease-out 0s; font-family: &quot;Proximanova Regular&quot;, sans-serif;" href="https://www.androidauthority.com/samsung-galaxy-s10-price-drop-1081281/">dropped 
the price</a><span>&nbsp;</span>of the S10e, S10, and S10 Plus. The phone’s now cost 
$150 less each, meaning $599 for the S10e, $749 for the S10, and $849 for the 
S10 Plus. These<span>&nbsp;</span><a style="box-sizing: border-box; color: rgb(0, 212, 159); text-decoration: none; background-color: transparent; transition: color 0.3s ease-out 0s; font-family: &quot;Proximanova Regular&quot;, sans-serif;" href="https://www.androidauthority.com/samsung-galaxy-s10-plus-discount-1080971/">change 
the value equation</a>, as the phones are much more affordable than the<span>&nbsp;</span><a style="box-sizing: border-box; color: rgb(0, 212, 159); text-decoration: none; background-color: transparent; transition: color 0.3s ease-out 0s; font-family: &quot;Proximanova Regular&quot;, sans-serif;" href="https://www.androidauthority.com/samsung-galaxy-s20-price-expensive-1081968/">very 
pricey S20 series</a>, which cost between $999 and $1,599 depending on model and 
options.&nbsp;</em></p>
<p style="box-sizing: border-box; margin: 0px 0px 21px; line-height: 28px; letter-spacing: 0em; font-family: &quot;Proximanova Regular&quot;, sans-serif; font-size: 18px; color: rgb(66, 66, 66); font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;">
<em style="box-sizing: border-box;">What we’re saying is there is a lot more 
value to be had here.&nbsp;</em></p>
<p style="box-sizing: border-box; margin: 0px 0px 21px; line-height: 28px; letter-spacing: 0em; font-family: &quot;Proximanova Regular&quot;, sans-serif; font-size: 18px; color: rgb(66, 66, 66); font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;">
The Samsung Galaxy S10, the middle child of the company’s flagship series, is a 
fantastic phone that might easily be lost in the shuffle. Where the<span>&nbsp;</span><a style="box-sizing: border-box; color: rgb(0, 212, 159); text-decoration: none; background-color: transparent; transition: color 0.3s ease-out 0s; font-family: &quot;Proximanova Regular&quot;, sans-serif;" href="https://www.androidauthority.com/samsung-galaxy-s10-plus-review-961423/">Galaxy 
S10 Plus</a><span>&nbsp;</span>has been lauded for its large screen and capable 
battery, and the<span>&nbsp;</span><a style="box-sizing: border-box; color: rgb(0, 212, 159); text-decoration: none; background-color: transparent; transition: color 0.3s ease-out 0s; font-family: &quot;Proximanova Regular&quot;, sans-serif;" href="https://www.androidauthority.com/samsung-galaxy-s10e-review-962546/">Galaxy 
S10e</a><span>&nbsp;</span>for its compact form and ease-of-use, the S10 is 
challenged to strike the proper balance in between.</p>

</body>

</html>
