<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled 1</title>
<style type="text/css">
.style1 {
    text-align: center;
}
</style>
</head>

<body>

<p class="style1">&nbsp;</p>
<p class="style1">
<span style="font-family: &quot;Proxima Nova&quot;, sans-serif; font-size: 55px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 800; letter-spacing: normal; orphans: 2; text-align: center; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;">
Apple iPhone 7 review:</span></p>
<p class="style1">
<span style="font-family: &quot;Proxima Nova&quot;, sans-serif; font-size: 55px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 800; letter-spacing: normal; orphans: 2; text-align: center; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;">
<img alt="" src="https://cnet2.cbsistatic.com/img/8EmKIt76XfuFpDhzn9_V3kKultk=/980x551/2016/09/12/78f2737a-a967-49c5-a2bb-eec3810950aa/septus-49.jpg" width="980" height="551" /></span></p>
<p class="theGood" style="margin: 0px 0px 20px; color: rgb(0, 0, 0); font-family: &quot;Proxima Nova&quot;, sans-serif; font-size: 20px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;">
<strong class="title" style="font-weight: bold;">The Good</strong><span>&nbsp;</span><span class="summary content">The 
iPhone 7 still has the biggest key features you’d want: a fast processor, water 
resistance, a more durable solid-state home button, and still really good 
cameras with rear optical image stabilization. iOS 12 should help this phone 
perform even better than on iOS 11.</span></p>
<p class="theBad" style="margin: 0px 0px 20px; color: rgb(0, 0, 0); font-family: &quot;Proxima Nova&quot;, sans-serif; font-size: 20px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;">
<strong class="title" style="font-weight: bold;">The Bad</strong><span>&nbsp;</span><span class="content">Lacks 
the extra speed and improved camera quality of the iPhone 8. No fancy Face ID or 
other iPhone X-type designs, which will likely spread to other iPhones soon in 
the fall. No headphone jack (an adapter comes in the box). No wireless charging.</span></p>
<p class="theBottomLine" style="margin: 0px 0px 20px; color: rgb(0, 0, 0); font-family: &quot;Proxima Nova&quot;, sans-serif; font-size: 20px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;">
<strong class="title" style="font-weight: bold;">The Bottom Line</strong><span>&nbsp;</span><span id="seodescription" class="description content">The 
gap between iPhone 8 and iPhone 7 isn’t as great as you think, and for the right 
price, this is still an excellent pick if you’re not chasing the latest 
bleeding-edge iPhone and want to save some money.</span></p>
<table style="width: 100%">
    <tr>
        <td>&nbsp;</td>
        <td style="width: 80%">&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
</table>

</body>

</html>
