

<style type="text/css">
.style1 {
	text-align: center;
	
}
.style2 {
	text-align: center;
	font-size: xx-large;
	font-family: "Open Sans";
}
.style9 {
	border-width: 0;
	background-color: #004DDA;
}
.style10 {
	text-align: center;
	color: #FFFFFF;
}
.style11 {
	color: #FFFFFF;
}
.style12 {
	font-size: large;
	font-family: "Open Sans";
}
.style15 {
	text-align: center;
	font-size: large;
	color: #FFFFFF;
	background-color: #999999;
	font-family: "Open Sans";
}
.style18 {
	font-size: x-large;
	font-family: "Open Sans";
}
.style19 {
	font-size: xx-large;
}
.style22 {
	border-collapse: collapse;
	border-width: 0;
}
.style23 {
	border-collapse: collapse;
	background-color: #FFFFFF;
}
.style26 {
	font-family: "Open Sans";
}
.style27 {
	text-align: center;
	font-family: "Open Sans";
}
.style28 {
	color: #FFFFFF;
	font-family: "Open Sans";
}
.style29 {
	text-align: center;
	color: #FFFFFF;
	font-family: "Open Sans";
}
.style30 {
	color: #C0C0C0;
}
.style31 {
	color: #C0C0C0;
	font-family: "Open Sans";
}
.style32 {
	background-color: #004DDA;
}
.style34 {
	border-width: 0;
	background-color: #3366FF;
}
.style35 {
	background-color: #CCCCCC;
}
.style36 {
	background-color: #FFFFFF;
}
.style38 {
	font-family: "Open Sans";
	color: rgb(0, 77, 218);
	background-color: #CCCCCC;
}
.style39 {
	font-size: small;
	font-family: "Open Sans";
	background-color: #CCCCCC;
}
.style40 {
	text-align: center;
	font-family: "Open Sans";
	background-color: #FFFFFF;
}
.style41 {
	font-size: medium;
	font-family: "Open Sans";
	background-color: #CCCCCC;
	font-weight: 300;
	color: rgb(68, 68, 68);
	letter-spacing: normal;
}
.style42 {
	text-align: center;
	font-size: large;
	color: #FFFFFF;
	background-color: #C0C0C0;
	font-family: "Open Sans";
}
.style43 {
	text-align: center;
	font-family: "Open Sans";
	color: #008080;
}
</style>






<table style="width: 100%; height: 20px" align="center" class="style34">
	
	<tr>
		<td class="style10" style="height: 10">
		&nbsp;</td>
	</tr>
</table>



</p>
<p class="style26">&nbsp;</p>

	<br />
	<br />
	</span>
	</strong></div>
<p class="style26">&nbsp;</p>
<p class="style2">Top Brands</p>
<p class="style1">
<span style="color: rgb(68, 68, 68); font-size: 23px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 300; letter-spacing: normal; orphans: 2; text-align: center; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;" class="style26">
top and customized brands</span></p>
<p class="style26">&nbsp;</p>
<table style="width: 100%">
	<tr>
		<td style="width: 10%" class="style26">&nbsp;</td>
		<td style="width: 80%">
		<table style="width: 100%">
			<tr>
				<td class="style1" valign="top">
				<img alt="" src="https://lh3.googleusercontent.com/proxy/dq0tLNUrkSI0gaieKoKOhdA1tT0pVBObBA3PyJHoxtqxpEiIZOcOIpMVXggpA66Y2qbqsjgbJXeLURt-uaAgZVDGIL3VoeqydOT4yROVG_CALgfaUSF3IQ" width="250" height="200" />&nbsp;</td>
				<td class="style27">
				<img alt="" src="https://cdn.iconscout.com/icon/free/png-512/samsung-226432.png" width="250" height="200" />&nbsp;</td>
				<td class="style27">
				<img alt="" src="https://seeklogo.com/images/M/Motorola-logo-C3DDCBA822-seeklogo.com.png" width="250" height="200" />&nbsp;</td>
				<td class="style27">
				<img alt="" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTLxp4p5xSL4B3eRTHSh6JRE93T4Wp02AmoHg&usqp=CAU" width="250" height="200" />&nbsp;</td>
			</tr>
			<tr>
				<td class="style27"><strong>Apple</strong></td>
				<td class="style27"><strong>Samsung</strong></td>
				<td class="style27"><strong>Motorola</strong></td>
				<td class="style27"><strong>Google&nbsp;</strong></td>
			</tr>
			<tr>
				<td class="style27">
				<a href="apple">
				<img style="border: 0" id="img12" src="button32.gif" height="30" width="150" alt="View Phones" onmouseover="FP_swapImg(1,0,/*id*/'img12',/*url*/'button33.gif')" onmouseout="FP_swapImg(0,0,/*id*/'img12',/*url*/'button32.gif')" onmousedown="FP_swapImg(1,0,/*id*/'img12',/*url*/'button34.gif')" onmouseup="FP_swapImg(0,0,/*id*/'img12',/*url*/'button33.gif')" fp-style="fp-btn: Metal Capsule 3; fp-transparent: 1" fp-title="View Phones" /></a></td>
				<td class="style27">
				<a href="samsung">
				<img style="border: 0" id="img10" src="button2C.gif" height="30" width="150" alt="View Phones" onmouseover="FP_swapImg(1,0,/*id*/'img10',/*url*/'button2D.gif')" onmouseout="FP_swapImg(0,0,/*id*/'img10',/*url*/'button2C.gif')" onmousedown="FP_swapImg(1,0,/*id*/'img10',/*url*/'button2E.gif')" onmouseup="FP_swapImg(0,0,/*id*/'img10',/*url*/'button2D.gif')" fp-style="fp-btn: Metal Capsule 3; fp-transparent: 1" fp-title="View Phones" /></a></td>
				<td class="style27">
				<a href="motorola">
				<img style="border: 0" id="img11" src="button2F.gif" height="30" width="150" alt="View Phones" onmouseover="FP_swapImg(1,0,/*id*/'img11',/*url*/'button30.gif')" onmouseout="FP_swapImg(0,0,/*id*/'img11',/*url*/'button2F.gif')" onmousedown="FP_swapImg(1,0,/*id*/'img11',/*url*/'button31.gif')" onmouseup="FP_swapImg(0,0,/*id*/'img11',/*url*/'button30.gif')" fp-style="fp-btn: Metal Capsule 3; fp-transparent: 1" fp-title="View Phones" /></a></td>
				<td class="style27">
				<a href="google">
				<img style="border: 0" id="img12" src="button32.gif" height="30" width="150" alt="View Phones" onmouseover="FP_swapImg(1,0,/*id*/'img12',/*url*/'button33.gif')" onmouseout="FP_swapImg(0,0,/*id*/'img12',/*url*/'button32.gif')" onmousedown="FP_swapImg(1,0,/*id*/'img12',/*url*/'button34.gif')" onmouseup="FP_swapImg(0,0,/*id*/'img12',/*url*/'button33.gif')" fp-style="fp-btn: Metal Capsule 3; fp-transparent: 1" fp-title="View Phones" /></a></td>
			</tr>
			<tr>
				<td class="style27">&nbsp;</td>
				<td class="style27">&nbsp;</td>
				<td class="style27">&nbsp;</td>
				<td class="style27">&nbsp;</td>
			</tr>
		</table>
		</td>
		<td style="width: 10%" class="style26"><br />
		&nbsp;</td>
	</tr>
</table>
<p class="style26">&nbsp;</p>
<p class="style26">&nbsp;</p>
<p class="style2">&nbsp;</p>



<table style="width: 100%">
	<tr>
		<td class="style35">&nbsp;</td>
		<td class="style35">&nbsp;</td>
		<td class="style35">&nbsp;</td>
		<td class="style35">&nbsp;</td>
	</tr>
</table>
<table style="width: 100%; background-color: #444444; padding-bottom: 20px; padding-left: 20px; padding-right: 20px; padding-top: 20px">
	<tr>
		<td class="style31" style="width: 25%"><strong><span class="style26"><br />
		QUICK LINKS<br />
		</span></strong></td>
		<td class="style30" style="width: 25%"><strong><span class="style26"><br />
		CATEGORIES<br />
		</span></strong></td>
		<td class="style30" style="width: 25%"><strong><span class="style26"><br />
		CONTACTS<br />
		</span></strong></td>
		<td class="style30" style="width: 25%"><strong><span class="style26"><br />
		KEEP IN TOUCH<br />
		</span></strong></td>
	</tr>
	<tr>
		<td class="style31">About us</td>
		<td class="style31">Clothes</td>
		<td class="style31">info@allaia.com</td>
		<td class="style31">Facebook</td>
	</tr>
	<tr>
		<td class="style31">Faq</td>
		<td class="style31">Electronics</td>
		<td class="style31">+91 84338045</td>
		<td class="style31">Twitter</td>
	</tr>
	<tr>
		<td class="style31">Help</td>
		<td class="style31">Furniture</td>
		<td class="style31">Los angeles</td>
		<td class="style31">Instagram</td>
	</tr>
	<tr>
		<td class="style31">My account</td>
		<td class="style31">Glasses</td>
		<td class="style31">97845 baker</td>
		<td class="style31">Linkedin</td>
	</tr>
	<tr>
		<td class="style31">Blog</td>
		<td class="style31">Shoes</td>
		<td class="style31">Fax 8452845</td>
		<td class="style31">Youtube</td>
	</tr>
</table>
<table style="width: 100%" class="style32">
	<tr>
		<td style="height: 39px"></td>
		<td class="style1" style="width: 80%; height: 39px">
		<b style="font-family: arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial;" class="style11">
		<span class="style32">© Created with Love by Group 1</span></b></td>
		<td style="height: 39px"></td>
	</tr>
</table>