<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled 1</title>
<style type="text/css">
.style1 {
	text-align: center;
}
.style2 {
	font-size: x-large;
}
.style4 {
	font-size: x-large;
	font-family: "Open Sans";
}
.style5 {
	font-family: "Open Sans";
}
.style6 {
	color: #808080;
}

table.MsoNormalTable{
font-family:'Times New Roman';
font-size:10.0000pt;
}
</style>
</head>

<body>

<p class="style1">&nbsp;</p>
<p class="style1"><strong><span class="style2"><span class="style5">We the 
member of this project has contributed the above work for our project. This 
project is a great tribute of html, css, nodejs, and javascript, etc<br />
<br />
Greatly guide by best trainer<br />
</span></span></strong>[<span class="style6"></span><strong><span class="style4"><span class="style6">Atul 
kumar singh</span>]</span></strong></p>
<p class="style1">&nbsp;</p>
<table class="MsoNormalTable" border="0" cellspacing="0" style="border-collapse:collapse;border:none;mso-padding-alt:0.0000pt 0.5000pt 0.0000pt 0.5000pt ;" align="center">
	<tbody class="style1">
		<tr style="height:0.0500pt;">
			<td width="254" valign="top" style="width: 191.1500pt; padding: 0.0000pt 5.4000pt 0.0000pt 5.4000pt; border-left: 1.0000pt solid rgb(0,0,0); mso-border-left-alt: 0.5000pt solid rgb(0,0,0); border-right: 1.0000pt solid rgb(0,0,0); mso-border-right-alt: 0.5000pt solid rgb(0,0,0); border-top: 1.0000pt solid rgb(0,0,0); mso-border-top-alt: 0.5000pt solid rgb(0,0,0);border-bottom:1.0000pt solid rgb(0,0,0);
mso-border-bottom-alt:0.5000pt solid rgb(0,0,0);background:rgb(255,255,255);">
			<p class="MsoNormal">
			<span style="mso-spacerun:'yes';font-family:Arial;letter-spacing:0.0000pt;
font-size:28.0000pt;">Name</span><span style="font-family:Calibri;letter-spacing:0.0000pt;font-size:10.5000pt;"><o:p></o:p></span></p>
			</td>
			<td width="132" valign="top" style="width: 99.2000pt; padding: 0.0000pt 5.4000pt 0.0000pt 5.4000pt; border-left: none; mso-border-left-alt: none; border-right: 1.0000pt solid rgb(0,0,0); mso-border-right-alt: 0.5000pt solid rgb(0,0,0); border-top: 1.0000pt solid rgb(0,0,0); mso-border-top-alt: 0.5000pt solid rgb(0,0,0); border-bottom: 1.0000pt solid rgb(0,0,0);
mso-border-bottom-alt:0.5000pt solid rgb(0,0,0);background:rgb(255,255,255);">
			<p class="MsoNormal">
			<span style="mso-spacerun:'yes';font-family:Arial;letter-spacing:0.0000pt;
font-size:26.0000pt;">Roll No</span><span style="font-family:Calibri;letter-spacing:0.0000pt;font-size:10.5000pt;"><o:p></o:p></span></p>
			</td>
			<td width="264" valign="top" style="width: 198.4500pt; padding: 0.0000pt 5.4000pt 0.0000pt 5.4000pt; border-left: none; mso-border-left-alt: none; border-right: 1.0000pt solid rgb(0,0,0); mso-border-right-alt: 0.5000pt solid rgb(0,0,0); border-top: 1.0000pt solid rgb(0,0,0); mso-border-top-alt: 0.5000pt solid rgb(0,0,0); border-bottom: 1.0000pt solid rgb(0,0,0);
mso-border-bottom-alt:0.5000pt solid rgb(0,0,0);background:rgb(255,255,255);">
			<p class="style1">
			<span style="mso-spacerun:'yes';font-family:Arial;letter-spacing:0.0000pt;
font-size:26.0000pt;">DESCRIPTION</span><span style="font-family:Calibri;letter-spacing:0.0000pt;font-size:10.5000pt;"><o:p></o:p></span></p>
			</td>
		</tr>
		<tr style="height:0.0500pt;">
			<td width="254" valign="top" style="width: 191.1500pt; padding: 0.0000pt 5.4000pt 0.0000pt 5.4000pt; border-left: 1.0000pt solid rgb(0,0,0); mso-border-left-alt: 0.5000pt solid rgb(0,0,0); border-right: 1.0000pt solid rgb(0,0,0); mso-border-right-alt: 0.5000pt solid rgb(0,0,0); border-top: none; mso-border-top-alt: 0.5000pt solid rgb(0,0,0);border-bottom:1.0000pt solid rgb(0,0,0);
mso-border-bottom-alt:0.5000pt solid rgb(0,0,0);background:rgb(255,255,255);">
			<p class="MsoNormal">
			<span style="mso-spacerun:'yes';font-family:'Calibri Light';letter-spacing:0.0000pt;
font-size:16.0000pt;">Aakanksha. Dinesh. Sahane</span><span style="font-family:Calibri;letter-spacing:0.0000pt;font-size:10.5000pt;"><o:p></o:p></span></p>
			</td>
			<td width="132" valign="top" style="width: 99.2000pt; padding: 0.0000pt 5.4000pt 0.0000pt 5.4000pt; border-left: none; mso-border-left-alt: none; border-right: 1.0000pt solid rgb(0,0,0); mso-border-right-alt: 0.5000pt solid rgb(0,0,0); border-top: none; mso-border-top-alt: 0.5000pt solid rgb(0,0,0); border-bottom: 1.0000pt solid rgb(0,0,0);
mso-border-bottom-alt:0.5000pt solid rgb(0,0,0);background:rgb(255,255,255);">
			<p class="MsoNormal">
			<span style="mso-spacerun:'yes';font-family:'Calibri Light';letter-spacing:0.0000pt;
font-size:16.0000pt;">2301</span><span style="font-family:Calibri;letter-spacing:0.0000pt;font-size:10.5000pt;"><o:p></o:p></span></p>
			</td>
			<td width="264" valign="top" style="width: 198.4500pt; padding: 0.0000pt 5.4000pt 0.0000pt 5.4000pt; border-left: none; mso-border-left-alt: none; border-right: 1.0000pt solid rgb(0,0,0); mso-border-right-alt: 0.5000pt solid rgb(0,0,0); border-top: none; mso-border-top-alt: 0.5000pt solid rgb(0,0,0); border-bottom: 1.0000pt solid rgb(0,0,0);
mso-border-bottom-alt:0.5000pt solid rgb(0,0,0);background:rgb(255,255,255);">
			<p class="MsoNormal">
			<span style="mso-spacerun:'yes';font-family:'Calibri Light';letter-spacing:0.0000pt;
font-size:18.0000pt;">Report,</span><span style="mso-spacerun:'yes';font-family:'Calibri Light';letter-spacing:0.0000pt;
font-size:16.0000pt;">Data Analysis</span><span style="font-family:Calibri;letter-spacing:0.0000pt;font-size:10.5000pt;"><o:p></o:p></span></p>
			</td>
		</tr>
		<tr style="height:0.0500pt;">
			<td width="254" valign="top" style="width: 191.1500pt; padding: 0.0000pt 5.4000pt 0.0000pt 5.4000pt; border-left: 1.0000pt solid rgb(0,0,0); mso-border-left-alt: 0.5000pt solid rgb(0,0,0); border-right: 1.0000pt solid rgb(0,0,0); mso-border-right-alt: 0.5000pt solid rgb(0,0,0); border-top: none; mso-border-top-alt: 0.5000pt solid rgb(0,0,0);border-bottom:1.0000pt solid rgb(0,0,0);
mso-border-bottom-alt:0.5000pt solid rgb(0,0,0);background:rgb(255,255,255);">
			<p class="MsoNormal">
			<span style="mso-spacerun:'yes';font-family:'Calibri Light';letter-spacing:0.0000pt;
font-size:16.0000pt;">Divyesh. Mahendra. Patel</span><span style="font-family:Calibri;letter-spacing:0.0000pt;font-size:10.5000pt;"><o:p></o:p></span></p>
			</td>
			<td width="132" valign="top" style="width: 99.2000pt; padding: 0.0000pt 5.4000pt 0.0000pt 5.4000pt; border-left: none; mso-border-left-alt: none; border-right: 1.0000pt solid rgb(0,0,0); mso-border-right-alt: 0.5000pt solid rgb(0,0,0); border-top: none; mso-border-top-alt: 0.5000pt solid rgb(0,0,0); border-bottom: 1.0000pt solid rgb(0,0,0);
mso-border-bottom-alt:0.5000pt solid rgb(0,0,0);background:rgb(255,255,255);">
			<p class="MsoNormal">
			<span style="mso-spacerun:'yes';font-family:'Calibri Light';letter-spacing:0.0000pt;
font-size:16.0000pt;">2302</span><span style="font-family:Calibri;letter-spacing:0.0000pt;font-size:10.5000pt;"><o:p></o:p></span></p>
			</td>
			<td width="264" valign="top" style="width: 198.4500pt; padding: 0.0000pt 5.4000pt 0.0000pt 5.4000pt; border-left: none; mso-border-left-alt: none; border-right: 1.0000pt solid rgb(0,0,0); mso-border-right-alt: 0.5000pt solid rgb(0,0,0); border-top: none; mso-border-top-alt: 0.5000pt solid rgb(0,0,0); border-bottom: 1.0000pt solid rgb(0,0,0);
mso-border-bottom-alt:0.5000pt solid rgb(0,0,0);background:rgb(255,255,255);">
			<p class="MsoNormal">
			<span style="mso-spacerun:'yes';font-family:'Calibri Light';letter-spacing:0.0000pt;
font-size:16.0000pt;">Form, white boxTesting</span><span style="font-family:Calibri;letter-spacing:0.0000pt;font-size:10.5000pt;"><o:p></o:p></span></p>
			</td>
		</tr>
		<tr>
			<td width="254" valign="top" style="width: 191.1500pt; padding: 0.0000pt 5.4000pt 0.0000pt 5.4000pt; border-left: 1.0000pt solid rgb(0,0,0); mso-border-left-alt: 0.5000pt solid rgb(0,0,0); border-right: 1.0000pt solid rgb(0,0,0); mso-border-right-alt: 0.5000pt solid rgb(0,0,0); border-top: none; mso-border-top-alt: 0.5000pt solid rgb(0,0,0);border-bottom:1.0000pt solid rgb(0,0,0);
mso-border-bottom-alt:0.5000pt solid rgb(0,0,0);background:rgb(255,255,255);">
			<p class="MsoNormal">
			<span style="mso-spacerun:'yes';font-family:'Calibri Light';letter-spacing:0.0000pt;
font-size:16.0000pt;">Soubiya.Siraj.Mullaji</span><span style="font-family:Calibri;letter-spacing:0.0000pt;font-size:10.5000pt;"><o:p></o:p></span></p>
			</td>
			<td width="132" valign="top" style="width: 99.2000pt; padding: 0.0000pt 5.4000pt 0.0000pt 5.4000pt; border-left: none; mso-border-left-alt: none; border-right: 1.0000pt solid rgb(0,0,0); mso-border-right-alt: 0.5000pt solid rgb(0,0,0); border-top: none; mso-border-top-alt: 0.5000pt solid rgb(0,0,0); border-bottom: 1.0000pt solid rgb(0,0,0);
mso-border-bottom-alt:0.5000pt solid rgb(0,0,0);background:rgb(255,255,255);">
			<p class="MsoNormal">
			<span style="mso-spacerun:'yes';font-family:'Calibri Light';letter-spacing:0.0000pt;
font-size:16.0000pt;">2303</span><span style="font-family:Calibri;letter-spacing:0.0000pt;font-size:10.5000pt;"><o:p></o:p></span></p>
			</td>
			<td width="264" valign="top" style="width: 198.4500pt; padding: 0.0000pt 5.4000pt 0.0000pt 5.4000pt; border-left: none; mso-border-left-alt: none; border-right: 1.0000pt solid rgb(0,0,0); mso-border-right-alt: 0.5000pt solid rgb(0,0,0); border-top: none; mso-border-top-alt: 0.5000pt solid rgb(0,0,0); border-bottom: 1.0000pt solid rgb(0,0,0);
mso-border-bottom-alt:0.5000pt solid rgb(0,0,0);background:rgb(255,255,255);">
			<p class="MsoNormal">
			<span style="mso-spacerun:'yes';font-family:'Calibri Light';letter-spacing:0.0000pt;
font-size:16.0000pt;">form, black box testing</span><span style="font-family:Calibri;letter-spacing:0.0000pt;font-size:10.5000pt;"><o:p></o:p></span></p>
			</td>
		</tr>
		<tr style="height:0.0500pt;">
			<td width="254" valign="top" style="width: 191.1500pt; padding: 0.0000pt 5.4000pt 0.0000pt 5.4000pt; border-left: 1.0000pt solid rgb(0,0,0); mso-border-left-alt: 0.5000pt solid rgb(0,0,0); border-right: 1.0000pt solid rgb(0,0,0); mso-border-right-alt: 0.5000pt solid rgb(0,0,0); border-top: none; mso-border-top-alt: 0.5000pt solid rgb(0,0,0);border-bottom:1.0000pt solid rgb(0,0,0);
mso-border-bottom-alt:0.5000pt solid rgb(0,0,0);background:rgb(255,255,255);">
			<p class="MsoNormal">
			<span style="mso-spacerun:'yes';font-family:'Calibri Light';letter-spacing:0.0000pt;
font-size:16.0000pt;">Mohammed. Suhail. Shaikh</span><span style="font-family:Calibri;letter-spacing:0.0000pt;font-size:10.5000pt;"><o:p></o:p></span></p>
			</td>
			<td width="132" valign="top" style="width: 99.2000pt; padding: 0.0000pt 5.4000pt 0.0000pt 5.4000pt; border-left: none; mso-border-left-alt: none; border-right: 1.0000pt solid rgb(0,0,0); mso-border-right-alt: 0.5000pt solid rgb(0,0,0); border-top: none; mso-border-top-alt: 0.5000pt solid rgb(0,0,0); border-bottom: 1.0000pt solid rgb(0,0,0);
mso-border-bottom-alt:0.5000pt solid rgb(0,0,0);background:rgb(255,255,255);">
			<p class="MsoNormal">
			<span style="mso-spacerun:'yes';font-family:'Calibri Light';letter-spacing:0.0000pt;
font-size:16.0000pt;">2304</span><span style="font-family:Calibri;letter-spacing:0.0000pt;font-size:10.5000pt;"><o:p></o:p></span></p>
			</td>
			<td width="264" valign="top" style="width: 198.4500pt; padding: 0.0000pt 5.4000pt 0.0000pt 5.4000pt; border-left: none; mso-border-left-alt: none; border-right: 1.0000pt solid rgb(0,0,0); mso-border-right-alt: 0.5000pt solid rgb(0,0,0); border-top: none; mso-border-top-alt: 0.5000pt solid rgb(0,0,0); border-bottom: 1.0000pt solid rgb(0,0,0);
mso-border-bottom-alt:0.5000pt solid rgb(0,0,0);background:rgb(255,255,255);">
			<p class="MsoNormal">
			<span style="mso-spacerun:'yes';font-family:'Calibri Light';letter-spacing:0.0000pt;
font-size:16.0000pt;">form,black box testing</span><span style="font-family:Calibri;letter-spacing:0.0000pt;font-size:10.5000pt;"><o:p></o:p></span></p>
			</td>
		</tr>
		<tr style="height:0.0500pt;">
			<td width="254" valign="top" style="width: 191.1500pt; padding: 0.0000pt 5.4000pt 0.0000pt 5.4000pt; border-left: 1.0000pt solid rgb(0,0,0); mso-border-left-alt: 0.5000pt solid rgb(0,0,0); border-right: 1.0000pt solid rgb(0,0,0); mso-border-right-alt: 0.5000pt solid rgb(0,0,0); border-top: none; mso-border-top-alt: 0.5000pt solid rgb(0,0,0);border-bottom:1.0000pt solid rgb(0,0,0);
mso-border-bottom-alt:0.5000pt solid rgb(0,0,0);background:rgb(255,255,255);">
			<p class="MsoNormal">
			<span style="mso-spacerun:'yes';font-family:'Calibri Light';letter-spacing:0.0000pt;
font-size:16.0000pt;">Kandda. Kumaran. Mururgan. Thevar</span><span style="font-family:Calibri;letter-spacing:0.0000pt;font-size:10.5000pt;"><o:p></o:p></span></p>
			</td>
			<td width="132" valign="top" style="width: 99.2000pt; padding: 0.0000pt 5.4000pt 0.0000pt 5.4000pt; border-left: none; mso-border-left-alt: none; border-right: 1.0000pt solid rgb(0,0,0); mso-border-right-alt: 0.5000pt solid rgb(0,0,0); border-top: none; mso-border-top-alt: 0.5000pt solid rgb(0,0,0); border-bottom: 1.0000pt solid rgb(0,0,0);
mso-border-bottom-alt:0.5000pt solid rgb(0,0,0);background:rgb(255,255,255);">
			<p class="MsoNormal">
			<span style="mso-spacerun:'yes';font-family:'Calibri Light';letter-spacing:0.0000pt;
font-size:16.0000pt;">2305</span><span style="font-family:Calibri;letter-spacing:0.0000pt;font-size:10.5000pt;"><o:p></o:p></span></p>
			</td>
			<td width="264" valign="top" style="width: 198.4500pt; padding: 0.0000pt 5.4000pt 0.0000pt 5.4000pt; border-left: none; mso-border-left-alt: none; border-right: 1.0000pt solid rgb(0,0,0); mso-border-right-alt: 0.5000pt solid rgb(0,0,0); border-top: none; mso-border-top-alt: 0.5000pt solid rgb(0,0,0); border-bottom: 1.0000pt solid rgb(0,0,0);
mso-border-bottom-alt:0.5000pt solid rgb(0,0,0);background:rgb(255,255,255);">
			<p class="MsoNormal">
			<span style="mso-spacerun:'yes';font-family:'Calibri Light';letter-spacing:0.0000pt;
font-size:16.0000pt;">Data Analysis,front end </span>
			<span style="font-family:Calibri;letter-spacing:0.0000pt;font-size:10.5000pt;"><o:p></o:p>
			</span></p>
			</td>
		</tr>
		<tr style="height:0.0500pt;">
			<td width="254" valign="top" style="width: 191.1500pt; padding: 0.0000pt 5.4000pt 0.0000pt 5.4000pt; border-left: 1.0000pt solid rgb(0,0,0); mso-border-left-alt: 0.5000pt solid rgb(0,0,0); border-right: 1.0000pt solid rgb(0,0,0); mso-border-right-alt: 0.5000pt solid rgb(0,0,0); border-top: none; mso-border-top-alt: 0.5000pt solid rgb(0,0,0);border-bottom:1.0000pt solid rgb(0,0,0);
mso-border-bottom-alt:0.5000pt solid rgb(0,0,0);background:rgb(255,255,255);">
			<p class="MsoNormal">
			<span style="mso-spacerun:'yes';font-family:'Calibri Light';letter-spacing:0.0000pt;
font-size:16.0000pt;">Suprit. Shivaji. Satpute</span><span style="font-family:Calibri;letter-spacing:0.0000pt;font-size:10.5000pt;"><o:p></o:p></span></p>
			</td>
			<td width="132" valign="top" style="width: 99.2000pt; padding: 0.0000pt 5.4000pt 0.0000pt 5.4000pt; border-left: none; mso-border-left-alt: none; border-right: 1.0000pt solid rgb(0,0,0); mso-border-right-alt: 0.5000pt solid rgb(0,0,0); border-top: none; mso-border-top-alt: 0.5000pt solid rgb(0,0,0); border-bottom: 1.0000pt solid rgb(0,0,0);
mso-border-bottom-alt:0.5000pt solid rgb(0,0,0);background:rgb(255,255,255);">
			<p class="MsoNormal">
			<span style="mso-spacerun:'yes';font-family:'Calibri Light';letter-spacing:0.0000pt;
font-size:16.0000pt;">2307</span><span style="font-family:Calibri;letter-spacing:0.0000pt;font-size:10.5000pt;"><o:p></o:p></span></p>
			</td>
			<td width="264" valign="top" style="width: 198.4500pt; padding: 0.0000pt 5.4000pt 0.0000pt 5.4000pt; border-left: none; mso-border-left-alt: none; border-right: 1.0000pt solid rgb(0,0,0); mso-border-right-alt: 0.5000pt solid rgb(0,0,0); border-top: none; mso-border-top-alt: 0.5000pt solid rgb(0,0,0); border-bottom: 1.0000pt solid rgb(0,0,0);
mso-border-bottom-alt:0.5000pt solid rgb(0,0,0);background:rgb(255,255,255);">
			<p class="MsoNormal">
			<span style="mso-spacerun:'yes';font-family:'Calibri Light';letter-spacing:0.0000pt;
font-size:16.0000pt;">Data Analysis</span><span style="font-family:Calibri;letter-spacing:0.0000pt;font-size:10.5000pt;"><o:p></o:p></span></p>
			</td>
		</tr>
		<tr style="height:0.0500pt;">
			<td width="254" valign="top" style="width: 191.1500pt; padding: 0.0000pt 5.4000pt 0.0000pt 5.4000pt; border-left: 1.0000pt solid rgb(0,0,0); mso-border-left-alt: 0.5000pt solid rgb(0,0,0); border-right: 1.0000pt solid rgb(0,0,0); mso-border-right-alt: 0.5000pt solid rgb(0,0,0); border-top: none; mso-border-top-alt: 0.5000pt solid rgb(0,0,0);border-bottom:1.0000pt solid rgb(0,0,0);
mso-border-bottom-alt:0.5000pt solid rgb(0,0,0);background:rgb(255,255,255);">
			<p class="MsoNormal">
			<span style="mso-spacerun:'yes';font-family:'Calibri Light';letter-spacing:0.0000pt;
font-size:16.0000pt;">Ronak. Jagdish.Vaghela</span><span style="font-family:Calibri;letter-spacing:0.0000pt;font-size:10.5000pt;"><o:p></o:p></span></p>
			</td>
			<td width="132" valign="top" style="width: 99.2000pt; padding: 0.0000pt 5.4000pt 0.0000pt 5.4000pt; border-left: none; mso-border-left-alt: none; border-right: 1.0000pt solid rgb(0,0,0); mso-border-right-alt: 0.5000pt solid rgb(0,0,0); border-top: none; mso-border-top-alt: 0.5000pt solid rgb(0,0,0); border-bottom: 1.0000pt solid rgb(0,0,0);
mso-border-bottom-alt:0.5000pt solid rgb(0,0,0);background:rgb(255,255,255);">
			<p class="MsoNormal">
			<span style="mso-spacerun:'yes';font-family:'Calibri Light';letter-spacing:0.0000pt;
font-size:16.0000pt;">2308</span><span style="font-family:Calibri;letter-spacing:0.0000pt;font-size:10.5000pt;"><o:p></o:p></span></p>
			</td>
			<td width="264" valign="top" style="width: 198.4500pt; padding: 0.0000pt 5.4000pt 0.0000pt 5.4000pt; border-left: none; mso-border-left-alt: none; border-right: 1.0000pt solid rgb(0,0,0); mso-border-right-alt: 0.5000pt solid rgb(0,0,0); border-top: none; mso-border-top-alt: 0.5000pt solid rgb(0,0,0); border-bottom: 1.0000pt solid rgb(0,0,0);
mso-border-bottom-alt:0.5000pt solid rgb(0,0,0);background:rgb(255,255,255);">
			<p class="MsoNormal">
			<span style="mso-spacerun:'yes';font-family:'Calibri Light';letter-spacing:0.0000pt;
font-size:16.0000pt;">Database Administrator, </span>
			<span style="font-family:Calibri;letter-spacing:0.0000pt;font-size:10.5000pt;"><o:p></o:p>
			</span></p>
			</td>
		</tr>
		<tr>
			<td width="254" valign="top" style="width: 191.1500pt; padding: 0.0000pt 5.4000pt 0.0000pt 5.4000pt; border-left: 1.0000pt solid rgb(0,0,0); mso-border-left-alt: 0.5000pt solid rgb(0,0,0); border-right: 1.0000pt solid rgb(0,0,0); mso-border-right-alt: 0.5000pt solid rgb(0,0,0); border-top: none; mso-border-top-alt: 0.5000pt solid rgb(0,0,0);border-bottom:1.0000pt solid rgb(0,0,0);
mso-border-bottom-alt:0.5000pt solid rgb(0,0,0);background:rgb(255,255,255);">
			<p class="MsoNormal">
			<span style="mso-spacerun:'yes';font-family:'Calibri Light';letter-spacing:0.0000pt;
font-size:16.0000pt;">Akanksha. Ashok. Gaonkar</span><span style="font-family:Calibri;letter-spacing:0.0000pt;font-size:10.5000pt;"><o:p></o:p></span></p>
			</td>
			<td width="132" valign="top" style="width: 99.2000pt; padding: 0.0000pt 5.4000pt 0.0000pt 5.4000pt; border-left: none; mso-border-left-alt: none; border-right: 1.0000pt solid rgb(0,0,0); mso-border-right-alt: 0.5000pt solid rgb(0,0,0); border-top: none; mso-border-top-alt: 0.5000pt solid rgb(0,0,0); border-bottom: 1.0000pt solid rgb(0,0,0);
mso-border-bottom-alt:0.5000pt solid rgb(0,0,0);background:rgb(255,255,255);">
			<p class="MsoNormal">
			<span style="mso-spacerun:'yes';font-family:'Calibri Light';letter-spacing:0.0000pt;
font-size:16.0000pt;">2309</span><span style="font-family:Calibri;letter-spacing:0.0000pt;font-size:10.5000pt;"><o:p></o:p></span></p>
			</td>
			<td width="264" valign="top" style="width: 198.4500pt; padding: 0.0000pt 5.4000pt 0.0000pt 5.4000pt; border-left: none; mso-border-left-alt: none; border-right: 1.0000pt solid rgb(0,0,0); mso-border-right-alt: 0.5000pt solid rgb(0,0,0); border-top: none; mso-border-top-alt: 0.5000pt solid rgb(0,0,0); border-bottom: 1.0000pt solid rgb(0,0,0);
mso-border-bottom-alt:0.5000pt solid rgb(0,0,0);background:rgb(255,255,255);">
			<p class="MsoNormal">
			<span style="mso-spacerun:'yes';font-family:'Calibri Light';letter-spacing:0.0000pt;
font-size:16.0000pt;">Front end, Back end</span><span style="font-family:Calibri;letter-spacing:0.0000pt;font-size:10.5000pt;"><o:p></o:p></span></p>
			</td>
		</tr>
		<tr style="height:0.0500pt;">
			<td width="254" valign="top" style="width: 191.1500pt; padding: 0.0000pt 5.4000pt 0.0000pt 5.4000pt; border-left: 1.0000pt solid rgb(0,0,0); mso-border-left-alt: 0.5000pt solid rgb(0,0,0); border-right: 1.0000pt solid rgb(0,0,0); mso-border-right-alt: 0.5000pt solid rgb(0,0,0); border-top: none; mso-border-top-alt: 0.5000pt solid rgb(0,0,0);border-bottom:1.0000pt solid rgb(0,0,0);
mso-border-bottom-alt:0.5000pt solid rgb(0,0,0);background:rgb(255,255,255);">
			<p class="MsoNormal">
			<span style="mso-spacerun:'yes';font-family:'Calibri Light';letter-spacing:0.0000pt;
font-size:16.0000pt;">Tanmay. Atul. Yenar</span><span style="font-family:Calibri;letter-spacing:0.0000pt;font-size:10.5000pt;"><o:p></o:p></span></p>
			</td>
			<td width="132" valign="top" style="width: 99.2000pt; padding: 0.0000pt 5.4000pt 0.0000pt 5.4000pt; border-left: none; mso-border-left-alt: none; border-right: 1.0000pt solid rgb(0,0,0); mso-border-right-alt: 0.5000pt solid rgb(0,0,0); border-top: none; mso-border-top-alt: 0.5000pt solid rgb(0,0,0); border-bottom: 1.0000pt solid rgb(0,0,0);
mso-border-bottom-alt:0.5000pt solid rgb(0,0,0);background:rgb(255,255,255);">
			<p class="MsoNormal">
			<span style="mso-spacerun:'yes';font-family:'Calibri Light';letter-spacing:0.0000pt;
font-size:16.0000pt;">2310</span><span style="font-family:Calibri;letter-spacing:0.0000pt;font-size:10.5000pt;"><o:p></o:p></span></p>
			</td>
			<td width="264" valign="top" style="width: 198.4500pt; padding: 0.0000pt 5.4000pt 0.0000pt 5.4000pt; border-left: none; mso-border-left-alt: none; border-right: 1.0000pt solid rgb(0,0,0); mso-border-right-alt: 0.5000pt solid rgb(0,0,0); border-top: none; mso-border-top-alt: 0.5000pt solid rgb(0,0,0); border-bottom: 1.0000pt solid rgb(0,0,0);
mso-border-bottom-alt:0.5000pt solid rgb(0,0,0);background:rgb(255,255,255);">
			<p class="MsoNormal">
			<span style="mso-spacerun:'yes';font-family:'Calibri Light';letter-spacing:0.0000pt;
font-size:16.0000pt;">white box Testing,form</span><span style="font-family:Calibri;letter-spacing:0.0000pt;font-size:10.5000pt;"><o:p></o:p></span></p>
			</td>
		</tr>
		<tr style="height:0.0500pt;">
			<td width="254" valign="top" style="width: 191.1500pt; padding: 0.0000pt 5.4000pt 0.0000pt 5.4000pt; border-left: 1.0000pt solid rgb(0,0,0); mso-border-left-alt: 0.5000pt solid rgb(0,0,0); border-right: 1.0000pt solid rgb(0,0,0); mso-border-right-alt: 0.5000pt solid rgb(0,0,0); border-top: none; mso-border-top-alt: 0.5000pt solid rgb(0,0,0);border-bottom:1.0000pt solid rgb(0,0,0);
mso-border-bottom-alt:0.5000pt solid rgb(0,0,0);background:rgb(255,255,255);">
			<p class="MsoNormal">
			<span style="mso-spacerun:'yes';font-family:'Calibri Light';letter-spacing:0.0000pt;
font-size:16.0000pt;">Vedika. Hemant. Patil</span><span style="font-family:Calibri;letter-spacing:0.0000pt;font-size:10.5000pt;"><o:p></o:p></span></p>
			</td>
			<td width="132" valign="top" style="width: 99.2000pt; padding: 0.0000pt 5.4000pt 0.0000pt 5.4000pt; border-left: none; mso-border-left-alt: none; border-right: 1.0000pt solid rgb(0,0,0); mso-border-right-alt: 0.5000pt solid rgb(0,0,0); border-top: none; mso-border-top-alt: 0.5000pt solid rgb(0,0,0); border-bottom: 1.0000pt solid rgb(0,0,0);
mso-border-bottom-alt:0.5000pt solid rgb(0,0,0);background:rgb(255,255,255);">
			<p class="MsoNormal">
			<span style="mso-spacerun:'yes';font-family:'Calibri Light';letter-spacing:0.0000pt;
font-size:16.0000pt;">2311</span><span style="font-family:Calibri;letter-spacing:0.0000pt;font-size:10.5000pt;"><o:p></o:p></span></p>
			</td>
			<td width="264" valign="top" style="width: 198.4500pt; padding: 0.0000pt 5.4000pt 0.0000pt 5.4000pt; border-left: none; mso-border-left-alt: none; border-right: 1.0000pt solid rgb(0,0,0); mso-border-right-alt: 0.5000pt solid rgb(0,0,0); border-top: none; mso-border-top-alt: 0.5000pt solid rgb(0,0,0); border-bottom: 1.0000pt solid rgb(0,0,0);
mso-border-bottom-alt:0.5000pt solid rgb(0,0,0);background:rgb(255,255,255);">
			<p class="MsoNormal">
			<span style="mso-spacerun:'yes';font-family:'Calibri Light';letter-spacing:0.0000pt;
font-size:16.0000pt;">Report,Data Analysis</span><span style="font-family:Calibri;letter-spacing:0.0000pt;font-size:10.5000pt;"><o:p></o:p></span></p>
			</td>
		</tr>
</table>
<p class="style1">&nbsp;</p>

</body>

</html>
